* {
  padding: 0px;
}
.container {
  font-family: "Belleza", sans-serif;
  border-radius: 20px;
  border: 1px solid black;
  background: linear-gradient(
    -20deg,
    rgb(228, 210, 255) 0%,
    rgb(250, 252, 205) 100%
  );
  max-width: 600px;
  min-width: 400px;
  margin-top: 5px;
  padding-top: 20px;
}
.title-welcome {
  color: rgba(0, 0, 0, 0.856);
}
.title-welcome h2 {
  font-size: 50px;
  text-align: start;
  margin-top: 50px;
  margin-left: 100px;
}
.title-welcome h3 {
  font-size: 40px;
  margin-top: 10px;
  text-align: center;
}
.title-welcome h1 {
  font-size: 50px;
  margin-top: 10px;
  text-align: end;
  margin-right: 60px;
}
.welcome-image img {
  margin: 50px 0px 20px;
  width: 350px;
}
#meditation-title {
  line-height: 20px;
}
.message-namaste {
  font-size: 40px;
}

.instructions-image img {
  margin: 35px 0px 20px;
  width: 380px;
}
#pulse {
  width: 350px;
  margin: 0 auto;
  display: table;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
  }
  100% {
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(200%);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }

  100% {
    transform: scale(1.05);
    filter: brightness(100%);
  }
}

#timer {
  margin: 0px 20px -20px;
}
#minutes,
#seconds {
  text-shadow: 9px 9px 20px rgba(12, 12, 12, 0.6);
  font-family: "Manjari", sans-serif;
  font-size: 45px;
  display: inline;
}
.buttons .fa {
  font-size: 50px;
  border: double 3px rgb(158, 134, 155);
  color: rgb(151, 150, 240);

  border-radius: 60px;
  margin: 25px 20px 10px;
}

i:hover {
  transform: translateY(-1px);
  cursor: pointer;
}
.instructions {
  margin: 20px 30px 0px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}
.links a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.links {
  margin: 30px;
}
.img-leaf,
.img-om {
  width: 50px;
}
.img-incense {
  width: 70px;
}
a:visited {
  color: black;
}

.open-source {
  margin-bottom: 0px;
  font-size: 11px;
}
.open-source a {
  font-size: 11px;
}
@media (max-width: 576px) {
  .container {
    margin-top: 2px;
    border-radius: 5px;
  }
  .instructions {
    margin: 5px;
    font-size: 16px;
    text-align: justify;
  }
  .instructions-image img {
    margin: 20px 0px 15px;
    width: 320px;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: black;
  }
  .links a {
    font-size: 17px;
    color: black;
    display: block;
  }
  .links {
    margin: 20px;
  }
  .img-leaf,
  .img-om {
    width: 35px;
  }
  .img-incense {
    width: 55px;
  }
  .open-source a {
    display: inline;
  }
  .welcome-image img {
    margin: 50px 0px 40px;
    width: 330px;
  }
  .title-welcome h2 {
    font-size: 45px;

    margin-top: 20px;
  }
  .title-welcome h3 {
    font-size: 35px;
    margin-top: 5px;
  }
  .title-welcome h1 {
    font-size: 45px;
    margin-top: 5px;
  }

  #pulse {
    width: 320px;
  }
  #minutes,
  #seconds {
    text-shadow: 9px 9px 20px rgba(12, 12, 12, 0.418);
    font-family: "Manjari", sans-serif;
    font-size: 42px;
    display: inline;
  }
}
