* {
  padding: 0px;
}
.container {
  font-family: "Belleza", sans-serif;
  border-radius: 20px;

  background: linear-gradient(
    -20deg,
    rgb(233, 222, 250) 0%,
    rgb(251, 252, 219) 100%
  );

  max-width: 700px;
  min-width: 400px;
  margin-top: 15px;
  padding-top: 20px;
}

.title-welcome h2 {
  font-size: 50px;
  text-align: start;
  margin-top: 50px;
  margin-left: 100px;
}
.title-welcome h3 {
  font-size: 40px;
  margin-top: 10px;
  text-align: center;
}
.title-welcome h1 {
  font-size: 50px;
  margin-top: 10px;
  text-align: end;
  margin-right: 60px;
}
#meditation-title {
  line-height: 20px;
}
.message-namaste {
  font-size: 40px;
}
#timer {
  margin: 0px 20px -20px;
}
#minutes,
#seconds {
  text-shadow: 9px 9px 20px rgba(12, 12, 12, 0.6);
  font-family: "Manjari", sans-serif;
  font-size: 45px;
  display: inline;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
  }
  100% {
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(200%);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }

  100% {
    transform: scale(1.05);
    filter: brightness(100%);
  }
}
#pulse {
  margin: 0 auto;
  display: table;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
.welcome-image img {
  transform: rotate(270deg);
  margin-top: -95px;
  margin-bottom: -95px;
}
.instructions-image img {
  margin: 30px 30px 15px;
}

.buttons .fa {
  font-size: 50px;
  color: rgb(233, 159, 252);
  border-radius: 60px;
  margin: 20px 20px 10px;
}

.open-source {
  margin-bottom: 0px;
  font-size: 11px;
}
.open-source a {
  font-size: 11px;
}

i:hover {
  transform: translateY(-1px);
  cursor: pointer;
}
footer a {
  font-size: 20px;

  text-decoration: none;
  color: black;
}
.links {
  margin: 30px;
}
a:visited {
  color: black;
}

.instructions {
  border-radius: 10px;
  margin: 40px 30px 0px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
